.header {
    display: flex;
    justify-content: space-around;
}

.list {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-indent: 50px;
    gap: 10px;
}

.item_i { 
  display: flex; 
  justify-content: space-around; 
  text-decoration: none; 
  color: black; 
  padding-right: 50px; 
    margin-right: 50px; 
}

.item {
    display: flex;
    justify-content: space-around;
    color: black;
    padding-right: 15px; 
    margin-right: 15px;
    cursor: pointer;
    transition: color 0.3s;
    position: relative;
}

.item:hover,
.emeil:hover,
.number:hover {
    color: #2196F3;
    fill: #2196F3;
}

.item a {
    color: #212121;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.item a:hover::after {
    position: absolute;
    left: 35px;
    display: block;
    content: '';
    width: 85px;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    bottom: -15px;
}

.emeil {
    text-decoration: none;
    color: black;
}

.number {
  text-decoration: none; 
  color: black;
}

.text-header {
    display: flex;
    justify-content: space-around;
}

.right {
    display: flex;
    justify-content: space-around;
    text-indent: 50px;
    gap: 10px;
}

.text-after-header {
    display: flex;
    justify-content: space-around;
    padding-top: 15px; 
    padding-bottom: 15px;
}

.button {
    cursor: pointer;
    background-color: #2196F3;
    -webkit-text-fill-color: rgb(253, 253, 253);
    margin: auto;
    width: 189px;
    height: 49px;
    top: 440px;
    left: 724px;
    font-family: Roboto; 
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.06em; 
    text-align: center;
    display: block;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    flex-shrink: 0;
}

.pho {
    padding-left: 20px;
}

.header-two-wow { 
    height: 500px;
    top: 80px;
    background-image: url('./image/Img.header.png');
    background-image: cover;
    margin: 0 auto; 
    padding: 0 20px; 
    box-sizing: border-box;
    padding-top: 150px;
}

.after-header-two-photo-and-text {
    display: flex;
    justify-content: space-evenly;
    margin-top: 94px;
    margin-bottom: 94px;
}

.photo-attention-to-detil, .photo-clock, .photo-planning, .photo-astronaut {
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #F5F4FA;
}

.attention-to-detil, .clock, .planning, .astronaut {
    padding-left: 93px;
    padding-top: 20px;
}

.planning {
    padding-top: 29px;
}

.h5-attention-to-detil, .h5-planninig-photo-text, .h5-modern-technology, .h5-punctuality {
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: bold;
    color: black;
    font-family: 'Roboto';
    font-size: 17px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.p-attention-to-detil, .p-punctuality, .p-planninig-photo-text, .p-modern-technology {
    color: #696868;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.smaim {
    padding: 21px; 
    display: flex;
    justify-content: center;
}

.smain-text-and-photo {
    display: flex;
    justify-content: center;
    position: relative;
}

.text1-smain {
    position: absolute;
    top: 208px;
    left: 20px;
    width: 31%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
    color: white;
}

.text1-smain p {
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.smain-text-and-photo:hover .text1-smain {
    opacity: 1;
}

.text2-smain {
    position: absolute;
    top: 208px;
    left: 309.5px;
    width: 31.10%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
    color: white;
}

.text2-smain p {
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.smain-text-and-photo:hover .text2-smain {
    opacity: 1;
}

.text3-smain {
    position: absolute;
    top: 208px;
    left: 602px;
    width: 30.70%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
    color: white;
}

.text3-smain p {
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.smain-text-and-photo:hover .text3-smain {
    opacity: 1;
}
  
h1 {
    width: 696px;
    height: 120px;
    top: 280px;
    left: 452px;
    font-family: 'Roboto';
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center; 
    -webkit-text-fill-color: rgb(253, 253, 253);
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}

.our-team {
    background-color: #F5F4FA;
    padding-bottom: 94px;
}

.web {
    display: flex;
    padding: 25px;
    justify-content: space-between;
}

.card {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.card-igor, .card-olga, .card-mt, .card-m {
    padding-top: 30px;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
}

.product-designer, .frontend-developer, .marketing, .designer {
    color: #757575;
    font-size: 16px;
    padding-bottom: 16px;
}

.social-networks-all {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.social {
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 50%;
    fill: #AFB1B8;
}

.social:hover {
    background-color: #087df9;
    fill: #fff;
}

.insta-footer {
    cursor: pointer;
    transition: fill 0.3s;
    fill: #43444d;
}

.insta-footer:hover {
    fill: #2196F3;
    fill-opacity: 1;
}

h2 {
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
}

.regular-customers-content {
    padding-top: 94px;
}

.h3-regular-customers {
    padding-bottom: 50px;
}

.regular-customers-photo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 94px;
}

h3, .h3-regular-customers {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
   }

.photo-regular-customers2-1 {
    width: 45px;
    height: 57px;
    border-radius: 4px;
    border: 2px solid #AFB1B8;
    cursor: pointer;
    transition: fill 0.3s;
}

.photo-regular-customers2-1:hover {
    fill: #2196F3;
    border: 2px solid #2196F3;
}

.photo-regular-customers2-2 {
    width: 45px;
    height: 63px;
    border-radius: 4px;
    border: 2px solid #AFB1B8;
    cursor: pointer;
    transition: fill 0.3s;
}

.photo-regular-customers2-2:hover {
    fill: #2196F3;
    border: 2px solid #2196F3;
}

.photo-regular-customers2-3 {
    width: 45px;
    height: 51px;
    border-radius: 4px;
    border: 2px solid #AFB1B8;
    cursor: pointer;
    transition: fill 0.3s;
}

.photo-regular-customers2-3:hover {
    fill: #2196F3;
    border: 2px solid #2196F3;
}

.photo-regular-customers2-4 {
    width: 58px;
    height: 57px;
      border-radius: 4px;
      border: 2px solid #AFB1B8;
      cursor: pointer;
    transition: fill 0.3s;
}

.photo-regular-customers2-4:hover {
    fill: #2196F3;
    border: 2px solid #2196F3;
}

.photo-regular-customers2-5{
    width: 70px;
    height: 59px;
      border-radius: 4px;
      border: 2px solid #AFB1B8;
      cursor: pointer;
    transition: fill 0.3s;
}

.photo-regular-customers2-5:hover {
    fill: #2196F3;
    border: 2px solid #2196F3;
}

.photo-regular-customers2-6 {
    width: 101px;
    height: 60px;
    border-radius: 4px;
    border: 2px solid #AFB1B8;
    cursor: pointer;
    transition: fill 0.3s;
}

.photo-regular-customers2-6:hover {
    fill: #2196F3;
    border: 2px solid #2196F3;
}

.photo-regular-customers2-1 {
    padding: 23px 65px;
}

.photo-regular-customers2-1:hover {
    fill: #087df9;
}

.photo-regular-customers2-2 {
    padding: 20px 65px;
}

.photo-regular-customers2-3{
    padding: 25px 64px;
}

.photo-regular-customers2-4{
    padding: 22px 55px;
}

.photo-regular-customers2-5 {
    padding: 21px 50px;
}

.photo-regular-customers2-6 {
    padding: 20px 40px;
}

.ttt:hover {
    fill: white;
}

.footer {
    display: block;
    background-color: #2F303A;
    -webkit-text-fill-color: rgb(255, 255, 255);
    padding-left: 50px;
}

.footer-content {
    display: flex;
    align-items: center;
    
    justify-content: space-around;
}

.footer-content-two {
    padding-left: 40px;
}

.p-footer {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.p-footer-2 {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-bottom: 21px;
}

.footer-content-3 {
    padding-left: 93px;
}

.button-footer-input {
    display: flex;
    width: 160px;
    height: 45px;
    border-radius: 4px;
    border: none;
    background: #2196F3;
    cursor: pointer;
}

.footer-input {
    padding-left: 10px;
}

.input-and-social-networks {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-input {
    width: 289px;
    height: 42px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.30);
    border-radius: 4px;
}

.button-text {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    padding-top: 6px;
    padding-left: 7px;
}

.icon-send {
    padding-left: 10px;
    padding-top: 9px;
}

a {
    text-decoration: none;
    color: white;
}

li {
  display: flex;
}

.webs {
  text-decoration: none;
  color: white;
}