.header {
    display: flex;
    justify-content: space-around;
}

.text-after-header {
    display: flex;
    justify-content: space-around;
    padding-top: 15px; 
    padding-bottom: 15px;
}

.text-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-indent: 50px;
    gap: 10px;
}

.item {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    padding-right: 15px; 
    margin-right: 15px;
    cursor: pointer;
    transition: color 0.3s;
}

.item:hover,
.emeil:hover,
.number:hover {
    color: #2196F3;
    fill: #2196F3;
}

.emeil-1, 
.number-1 {
    transition: color 0.3s, transform 0.3s linear;
}

.emeil-1:hover,
.number-1:hover {
    transform: translateY(-10px);
}

.list .item a {
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
    color: #000;
    transition: color 0.3s ease;
    position: relative;
    letter-spacing: 0.28px;
    line-height: normal;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
}

.list .item a::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 2.5px;
    background-color: #2196F3;
    bottom: -22px;
    left: 32px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
    animation: item-bg 5s infinite;
}

.list .item a:hover,
.list .item a.active {
    color: #2196F3;
    animation: itemText-color 5s infinite;
}

@keyframes item-bg {
    0% {
        background-color: #2196F3;
    }
    45% {
        background-color: #5621f3;
    }
    95% {
        background-color: #21b4f3;
    }
}

@keyframes itemText-color {
    0% {
        color: #2196F3;
    }
    45% {
        color: #5621f3;
    }
    95% {
        color: #21b4f3;
    }
}

.list .item a:hover::after,
.list .item a.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.emeil {
    text-decoration: none;
    color: black;
}

.number {
  text-decoration: none; 
  color: black;
}

.right {
    display: flex;
    justify-content: space-around;
    text-indent: 50px;
    gap: 10px;
    align-items: center;
}