$color-black: black;
$color-bg-white-rgb: rgb(241, 239, 239);
$color-bg-blue: #2196F3;
$color-white: #FFFFFF;
$color-box-shadow: rgba(0, 0, 0, 0.3);
$color-blue: rgba(33, 150, 243, 0.90);
$color-gray: #7e808c;
$color-box-shadow-black: rgba(0, 0, 0, 0.2);