$color-background: #F5F4FA;
$color-text-black: black;
$color-gray: #696868;
$color-background-rgba: rgba(0, 0, 0, 0.5);
$color-white: #fff;
$color-white-rgb: rgb(253, 253, 253);
$color-box-shadow: rgba(0, 0, 0, 0.3);
$color-white-bg: rgb(255, 255, 255);
$color-gray-product: #757575;
$color-gray-fill: #AFB1B8;
$color-bg-blue: #087df9;
$color-bg-mazarine: #0820f9;
$color-bg-purple: #9008f9;
$color-blue-fill: #2196F3;