.header {
    display: flex;
    justify-content: space-around;
}

.list {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-indent: 50px;
    gap: 10px;
}

.item_i { 
    display: flex; 
    justify-content: space-around; 
    text-decoration: none; 
    color: black; 
    padding-right: 50px; 
    margin-right: 50px; 
}

.item {
    display: flex;
    justify-content: space-around;
    color: black;
    padding-right: 15px; 
    margin-right: 15px;
    cursor: pointer;
    transition: color 0.3s;
    position: relative;
}

.item:hover,
.emeil:hover,
.number:hover {
    color: #2196F3;
    fill: #2196F3;
}

.emeil-1, 
.number-1 {
    transition: color 0.3s, transform 0.3s linear;
}

.emeil-1:hover,
.number-1:hover {
    transform: translateY(-10px);
}

.list .item a {
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
    color: #000;
    transition: color 0.3s ease;
    position: relative;
    letter-spacing: 0.28px;
    line-height: normal;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
}

.list .item a::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 2.5px;
    background-color: #2196F3;
    bottom: -14px;
    left: 32px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
    animation: item-bg 5s infinite;
}

.list .item a:hover,
.list .item a.active {
    color: #2196F3;
    animation: itemText-color 5s infinite;
}

@keyframes item-bg {
    0% {
        background-color: #2196F3;
    }
    45% {
        background-color: #5621f3;
    }
    95% {
        background-color: #21b4f3;
    }
}

@keyframes itemText-color {
    0% {
        color: #2196F3;
    }
    45% {
        color: #5621f3;
    }
    95% {
        color: #21b4f3;
    }
}

.list .item a:hover::after,
.list .item a.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.emeil {
    text-decoration: none;
    color: black;
}

.number {
  text-decoration: none; 
  color: black;
}

.text-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right {
    display: flex;
    justify-content: space-around;
    text-indent: 50px;
    gap: 10px;
    align-items: center;
}

.text-button-header-two-wow {
    text-align: center;
}

.text-after-header {
    display: flex;
    justify-content: space-around;
    padding-top: 15px; 
    padding-bottom: 15px;
}

.button-header-two-wow {
    cursor: pointer;
    background-color: #2196F3;
    -webkit-text-fill-color: rgb(253, 253, 253);
    margin: auto;
    padding: 12px 20px;
    font-family: 'Roboto'; 
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.06em; 
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    flex-shrink: 0;
    border: none;
    transition: transform 0.3s linear;
}

.button-header-two-wow:hover {
    transform: scale(1.1);
}

.button-header-two-wow span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
}

.csstransforms3d .button-header-two-wow span::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2196F3;
    content: attr(data-hover);
    transition: background-color 0.3s;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
  }

.button-header-two-wow:hover span,
.button-header-two-wow:focus span {
  transform: rotateX(90deg) translateY(-22px);
}

.csstransforms3d .button-header-two-wow:hover span::before,
.csstransforms3d .button-header-two-wow:focus span::before {
    background-color: #2196F3;
}

.pho {
    padding-left: 20px;
}

.header-two-wow { 
    height: 500px;
    top: 80px;
    background-image: url('../image/Img.header.png');
    background-size: cover;
    margin: 0 auto; 
    padding: 0 20px; 
    box-sizing: border-box;
    padding-top: 150px;
}

.after-header-two-photo-and-text {
    display: flex;
    justify-content: space-evenly;
    margin-top: 94px;
    margin-bottom: 94px;
}

.attention-to-detil-all, 
.punctuality, 
.planninig-photo-text, 
.modern-technology {
    cursor: pointer;
    transition: transform 0.3s linear;
}

.attention-to-detil-all:hover, 
.punctuality:hover, 
.planninig-photo-text:hover, 
.modern-technology:hover {
    transform: translateY(-50px);
}

.photo-attention-to-detil, .photo-clock, .photo-planning, .photo-astronaut {
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #F5F4FA;
}

.attention-to-detil, .clock, .planning, .astronaut {
    padding-left: 93px;
    padding-top: 20px;
}

.planning {
    padding-top: 29px;
}

.h5-attention-to-detil, .h5-planninig-photo-text, .h5-modern-technology, .h5-punctuality {
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: bold;
    color: black;
    font-family: 'Roboto';
    font-size: 17px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.p-attention-to-detil, .p-punctuality, .p-planninig-photo-text, .p-modern-technology {
    color: #696868;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.smaim {
    padding: 21px; 
    display: flex;
    justify-content: center;
}

.smain-text-and-photo {
    display: flex;
    justify-content: center;
}

.smain-photo1 {
    position: relative;
    transition: transform 0.3s linear;
}

.smain-photo1:hover {
    transform: scale(1.1);
}

.text1-smain {
    position: absolute;
    top: 89%;
    left: 53%;
    width: 93%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translate(-50%, -50%) translateY(100%);
    transition: transform 0.5s, opacity 0.5s;
    color: white;
}

.text1-smain p {
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.smain-photo1:hover .text1-smain {
    transform: translate(-50%, -50%) translateY(0);
    opacity: 1;
}

.smain-photo2 {
    position: relative;
    transition: transform 0.3s linear;
} 

.smain-photo2:hover {
    transform: scale(1.1);
}

.text2-smain {
    position: absolute;
    top: 89%;
    left: 53.5%;
    width: 93%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translate(-50%, -50%) translateY(100%);
    transition: transform 0.5s, opacity 0.5s;
    color: white;
}

.text2-smain p {
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.smain-photo2:hover .text2-smain {
    transform: translate(-50%, -50%) translateY(0);
    opacity: 1;
}

.smain-photo3 {
    position: relative;
    transition: transform 0.3s linear;
}

.smain-photo3:hover {
    transform: scale(1.1);
}

.text3-smain {
    position: absolute;
    top: 89%;
    left: 53.5%;
    width: 93%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translate(-50%, -50%) translateY(100%);
    transition: transform 0.5s, opacity 0.5s;
    color: white;
}

.text3-smain p {
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.smain-photo3:hover .text3-smain {
    transform: translate(-50%, -50%) translateY(0);
    opacity: 1;
}
  
.h1-header-two-wow {
    width: 696px;
    height: 120px;
    top: 280px;
    left: 452px;
    font-family: 'Roboto';
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center; 
    -webkit-text-fill-color: rgb(253, 253, 253);
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    padding-bottom: 15px;
}

.our-team {
    background-color: #F5F4FA;
    padding-bottom: 94px;
}

.web {
    display: flex;
    padding: 25px;
    justify-content: space-between;
}

.card {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
    display: flex; 
    flex-direction: column; 
    align-items: center;
    transition: transform 0.3s linear;
}

.card:hover {
    transform: translateY(30px);
}

.card-igor, .card-olga, .card-mt, .card-m {
    padding-top: 30px;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
}

.product-designer, .frontend-developer, .marketing, .designer {
    color: #757575;
    font-size: 16px;
    padding-bottom: 16px;
}

.social-networks-all {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.social {
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 50%;
    fill: #AFB1B8;
    transition: transform 0.3s linear;
}

.social:hover {
    background-color: #087df9;
    fill: #fff;
    transform: scale(1.1);
    animation: socialText 5s infinite
}

@keyframes socialText {
    0% {
        background-color: #087df9;
    }
    45% {
        background-color: #0820f9;
    }
    95% {
        background-color: #9008f9;
    }
}

.svg-footer {
    padding-top: 60px;
    padding-bottom: 20px;
}

.menu-item-footer {
    transition: transform 0.3s linear;
    padding-bottom: 20px;
}

.menu-item-footer:hover {
    transform: translateX(12%);
}

.link-footer {
    transition: color 0.3s;
}

.link-footer:hover {
    color: #087df9;
}

.social-networks-footer {
    display: flex;
    gap: 5px;
}

.social-networks-insta-footer {
    width: 44px;
    height: 44px;
    background-color: #43444d;
    border-radius: 50%;
    fill: white;
    transition: transform 0.3s linear;
}

.social-networks-insta-footer:hover {
    background-color: #087df9;
    transform: translateY(15px) scale(1.2) rotate(360deg);
    animation: bg-colorText 7s infinite;
}

@keyframes bg-colorText {
    0% {
        background-color: #087df9;
    }
    45% {
        background-color: #7408f9;
    }
    95% {
        background-color: #0854f9;
    }
}

h2 {
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
}

.regular-customers-content {
    padding-top: 94px;
}

.h3-regular-customers {
    padding-bottom: 50px;
}

.regular-customers-photo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 94px;
}

h3, .h3-regular-customers {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
   }

.photo-regular-customers2-1 {
    width: 45px;
    height: 57px;
    border-radius: 4px;
    border: 2px solid #AFB1B8;
    cursor: pointer;
    transition: fill 0.3s, transform 0.3s linear;
}

.photo-regular-customers2-1:hover {
    fill: #2196F3;
    border: 2px solid #2196F3;
    transform: scale(1.1);
    animation: photoRegular 5s infinite;
}

.photo-regular-customers2-2 {
    width: 45px;
    height: 63px;
    border-radius: 4px;
    border: 2px solid #AFB1B8;
    cursor: pointer;
    transition: fill 0.3s, transform 0.3s linear;
}

.photo-regular-customers2-2:hover {
    fill: #2196F3;
    border: 2px solid #2196F3;
    transform: scale(1.1);
    animation: photoRegular 5s infinite;
}

.photo-regular-customers2-3 {
    width: 45px;
    height: 51px;
    border-radius: 4px;
    border: 2px solid #AFB1B8;
    cursor: pointer;
    transition: fill 0.3s, transform 0.3s linear;
}

.photo-regular-customers2-3:hover {
    fill: #2196F3;
    border: 2px solid #2196F3;
    transform: scale(1.1);
    animation: photoRegular 5s infinite;
}

.photo-regular-customers2-4 {
    width: 58px;
    height: 57px;
    border-radius: 4px;
    border: 2px solid #AFB1B8;
    cursor: pointer;
    transition: fill 0.3s, transform 0.3s linear;
}

.photo-regular-customers2-4:hover {
    fill: #2196F3;
    border: 2px solid #2196F3;
    transform: scale(1.1);
    animation: photoRegular 5s infinite;
}

.photo-regular-customers2-5{
    width: 70px;
    height: 59px;
    border-radius: 4px;
    border: 2px solid #AFB1B8;
    cursor: pointer;
    transition: fill 0.3s, transform 0.3s linear;
}

.photo-regular-customers2-5:hover {
    fill: #2196F3;
    border: 2px solid #2196F3;
    transform: scale(1.1);
    animation: photoRegular 5s infinite;
}

.photo-regular-customers2-6 {
    width: 101px;
    height: 60px;
    border-radius: 4px;
    border: 2px solid #AFB1B8;
    cursor: pointer;
    transition: fill 0.3s, transform 0.3s linear;
}

.photo-regular-customers2-6:hover {
    fill: #2196F3;
    border: 2px solid #2196F3;
    transform: scale(1.1);
    animation: photoRegular 5s infinite;
}

@keyframes photoRegular {
    0% {
        fill: #2196F3;
        border: 2px solid #2196F3;
    }
    45% {
        fill: #2125f3;
        border: 2px solid #2125f3;
    }
    95% {
        fill: #9f21f3;
        border: 2px solid #9f21f3;
    }
}

.photo-regular-customers2-1 {
    padding: 23px 65px;
}

.photo-regular-customers2-1:hover {
    fill: #087df9;
}

.photo-regular-customers2-2 {
    padding: 20px 65px;
}

.photo-regular-customers2-3{
    padding: 25px 64px;
}

.photo-regular-customers2-4{
    padding: 22px 55px;
}

.photo-regular-customers2-5 {
    padding: 21px 50px;
}

.photo-regular-customers2-6 {
    padding: 20px 40px;
}

.ttt:hover {
    fill: white;
}

.footer {
    display: block;
    background-color: #2F303A;
    -webkit-text-fill-color: rgb(255, 255, 255);
    padding-left: 50px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-content-two {
    padding-left: 40px;
}

.p-footer {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.p-footer-2 {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-bottom: 21px;
}

.footer-content-3 {
    padding-left: 93px;
}

.button-footer-input {
    display: flex;
    width: 160px;
    height: 45px;
    border-radius: 4px;
    border: none;
    background-color: #2196F3;
    cursor: pointer;
    transition: transform 0.3s linear;
    outline: none;
    position: relative;
    z-index: 0;
}

.button-footer-input:hover {
    transform: scale(1.1);
    
}

.button-footer-input::before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 4px;
}

.button-footer-input:active {
    color: #000
}

.button-footer-input:active:after {
    background-color: transparent;
}

.button-footer-input:hover:before {
    opacity: 1;
}

.button-footer-input:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2196F3;
    left: 0;
    top: 0;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button-footer-input:hover:after {
    background-color: #000;
}

@keyframes glowing {
    0% { 
        background-position: 0 0; 
    }
    50% { 
        background-position: 400% 0; 
    }
    100% { 
        background-position: 0 0; 
    }
}

.input-and-social-networks {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-input {
    width: 289px;
    height: 42px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.30);
    border-radius: 4px;
    padding-left: 10px;
    outline: none;
    transition: transform 0.3s linear;
}

.footer-input:hover {
    transform: translateY(-5px);
}

.button-text {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    padding-top: 6px;
    padding-left: 7px;
}

.icon-send {
    padding-left: 10px;
    padding-top: 9px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

li {
  display: flex;
}

.webs {
  text-decoration: none;
  color: white;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .no-scroll {
    overflow: hidden;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 550px;
    flex-shrink: 0;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
  
  .h3-modal {
    color: #212121;
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-top: 16px;
  }

  .btn {
    fill: #000000;
    float: right;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.10);
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 30px;
    stroke-width: 1px;
    transition: transform 0.3s linear;
  }
  
  .btn:hover, .btn:focus { 
    fill: #188CE8; 
    text-decoration: none; 
    cursor: pointer; 
    transform: scale(1.2);
  }
  
  .text-after-input-but {
    text-align: center;
  }
  
  .text-after-input {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .p-text-after-input {
    color: #757575;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    padding-left: 8px;
    padding-right: 5px;
  }
  
  .a-text-after-input {
    color: #2196F3;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
  }
  
  .input-button {
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s linear;
  }
  
  .input-button:hover {
    transform: scale(1.1);
  }
  
  .input-name, .input-tel, .input-emeil {
    color: #757575;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    align-items: flex-start;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s linear;
  }

  .input-name:hover, 
  .input-tel:hover, 
  .input-emeil:hover {
    transform: translateY(-7px);
  }

  .p-input-name {
    padding-bottom: 5px;
  }
  
  .input-text {
    padding-bottom: 11px;
    padding-top: 10px;
    color: #757575;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: transform 0.3s linear;
  }

  .input-text:hover {
    transform: translateY(-7px);
  }
  
  .name-search {
    width: 448px;
    height: 40px;
    flex-shrink: 0;
    padding: 5px 25px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    background-image: url('../image/person-black-18dp\ 1.svg');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
  
  .name-search:focus, .name-search:focus-visible {
    background-image: url('../image/person-black-18dp\ 1\ \(1\).svg');
    border: none;
    outline: 2px solid #188CE8;
  }
  
  .tel-search {
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    padding: 5px 25px;
    background-image: url('../image/phone-black-18dp\ 1.svg');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
  
  .tel-search:focus, .tel-search:focus-visible {
    background-image: url('../image/phone-black-18dp\ 1\ —\ копия.svg');
    border: none;
    outline: 2px solid #188CE8;
  }
  
  .emeil-search {
    width: 448px;
    height: 40px;
    padding: 5px 25px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    background-image: url('../image/email-black-18dp\ 1.svg');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
  
  .emeil-search:focus, .emeil-search:focus-visible {
    background-image: url('../image/email-black-18dp\ 1\ —\ копия.svg');
    border: none;
    outline: 2px solid #188CE8;
  }
  
  .text-search {
    padding: 12px 16px;
    width: 467px;
    height: 114px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
  }

  .text-search:focus, .text-search:focus-visible {
    border: none;
    outline: 2px solid #188CE8;
  }
  
  .text-after-input {
    padding-bottom: 9px;
  }