@import 'scss/header2';
@import 'scss/footer2';
@import 'scss/variables2';
@mixin flex-justify () {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.text-before-photo {
    @include flex-justify (flex, center);
    margin-top: 94px;
}

.spacing-before-text {
    padding-right: 20px;
}

.text1-before-photo {
    width: 38px;
    height: 25px;
    transition: background-color 0.3s, transform 0.3s linear;
    color: $color-black;
    font-size: 16px;
    border-radius: 5px;
    flex-shrink: 0;
    padding-left: 16px;
    padding-top: 8px;
    background-color: $color-bg-white-rgb;
    &:hover {
        background-color: $color-bg-blue;
        color: $color-white;
        box-shadow: 0 4px 8px $color-box-shadow;
        transform: scale(1.2);
        animation: colorText 7s infinite;
    }
}

.text2-before-photo {
    width: 96px;
    height: 25px;
    transition: background-color 0.3s, transform 0.3s linear;
    color: $color-black;
    font-size: 16px;
    border-radius: 5px;
    flex-shrink: 0;
    background-color: $color-bg-white-rgb;
    padding-top: 8px;
    padding-left: 22px;
    &:hover {
        background-color: $color-bg-blue;
        color: $color-white;
        box-shadow: 0 4px 8px $color-box-shadow;
        transform: scale(1.2);
        animation: colorText 7s infinite;
    }
}

.text3-before-photo {
    width: 80px;
    height: 25px;
    transition: background-color 0.3s, transform 0.3s linear;
    color: $color-black;
    font-size: 16px;
    border-radius: 5px;
    flex-shrink: 0;
    background-color: $color-bg-white-rgb;
    padding-top: 8px;
    padding-left: 22px;
    &:hover {
        background-color: $color-bg-blue;
        color: $color-white;
        box-shadow: 0 4px 8px $color-box-shadow;
        transform: scale(1.2);
        animation: colorText 7s infinite;
    }
}

.text4-before-photo {
    width: 72px;
    height: 25px;
    transition: background-color 0.3s, transform 0.3s linear;
    color: $color-black;
    font-size: 16px;
    border-radius: 5px;
    flex-shrink: 0;
    background-color: $color-bg-white-rgb;
    padding-top: 8px;
    padding-left: 22px;
    &:hover {
        background-color: $color-bg-blue;
        color: $color-white;
        box-shadow: 0 4px 8px $color-box-shadow;
        transform: scale(1.2);
        animation: colorText 7s infinite;
    }
}

.text5-before-photo {
    width: 96px;
    height: 25px;
    transition: background-color 0.3s, transform 0.3s linear;
    color: $color-black;
    font-size: 16px;
    border-radius: 5px;
    flex-shrink: 0;
    background-color: $color-bg-white-rgb;
    padding-top: 8px;
    padding-left: 22px;
    &:hover {
        background-color: $color-bg-blue;
        color: $color-white;
        box-shadow: 0 4px 8px $color-box-shadow;
        transform: scale(1.2);
        animation: colorText 7s infinite;
    }
}

@keyframes colorText {
    0% {
        background-color: $color-bg-blue;
    }
    45% {
        background-color: #8321f3;
    }
    90% {
        background-color: rgb(0, 85, 255);
    }
}

.photo-text-all2 {
    margin-top: 50px;
}

.text-photo-all-popup {
    position: relative;
    overflow: hidden;
}

.photo1{
    max-width: 100%;
    height: auto;
    transition: filter 0.5s ease;
}

.p-popup-text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background-color: $color-blue;
    padding: 63px;
    opacity: 0;
    width: 322px;
    font-style: normal;
    line-height: 28px;
    letter-spacing: 0.54px;
    font-family: 'Roboto';
    padding-top: 114px;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.text-photo-all-popup:hover .photo1 {
    filter: brightness(70%);
}

.text-photo-all-popup:hover .p-popup-text {
    opacity: 1;
    transform: translateX(-50%) translateY(-100%);
}

.h1-photo1-text, .h1-photo2-text, .h1-photo3-text, 
.h1-photo4-text, .h1-photo5-text, .h1-photo6-text, 
.h1-photo7-text, .h1-photo8-text, .h1-photo9-text {
    font-size: 18px;
}

.p-photo1-text, .p-photo2-text, .p-photo3-text, 
.p-photo4-text, .p-photo5-text, .p-photo6-text, 
.p-photo7-text, .p-photo9-text, .p-photo8-text {
    font-size: 16px;
    color: $color-gray;
    padding-top: 19px;
    padding-bottom: 20px;
}

.photo1-text, .photo2-text, .photo3-text, 
.photo4-text, .photo5-text, .photo6-text , 
.photo7-text, .photo8-text, .photo9-text {
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s linear;
    &:hover {
        box-shadow: 0 0 10px 5px $color-box-shadow-black;
        transform: scale(1.1) translateY(-10px);
    }
}

.block1-photo-text {
    @include flex-justify(flex, space-evenly, center);
}

.block2-photo-text {
    @include flex-justify(flex, space-evenly, center);
    margin-top: 35px;
}

.block3-photo-text {
    @include flex-justify(flex, space-evenly, center);
    margin-top: 50px;
    margin-bottom: 94px;
}

.text-h1-p-1, .text-h1-p-2, 
.text-h1-p-3, .text-h1-p-4, 
.text-h1-p-5, .text-h1-p-6, 
.text-h1-p-7, .text-h1-p-8, .text-h1-p-9 {
    padding-left: 24px;
    padding-top: 20px;
}